@using CalisthenicsSkillTracker.ViewModels.ExerciseViewModels
@model CreateExerciseViewModel

@{
    ViewData["Title"] = "Insert Exercise";
}

<div class="create-exercise-wrapper">
    <div class="create-exercise-card">

        <h2 class="create-title">Insert New Exercise</h2>

        <form asp-action="Create" method="post">
			@Html.AntiForgeryToken()

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control custom-input" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="3" class="form-control custom-input"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" placeholder="https://example.com/image.jpg" class="form-control custom-input" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Measurement"></label>
                <select asp-for="Measurement" asp-items="Model.MeasurementOptions" class="form-select custom-input">
                    <option value="">Select measurement...</option>
                </select>
                <span asp-validation-for="Measurement" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ExerciseType"></label>
                <select asp-for="ExerciseType" asp-items="Model.ExerciseTypeOptions" class="form-select custom-input">
                    <option value="">Select type...</option>
                </select>
                <span asp-validation-for="ExerciseType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Difficulty"></label>
                <select asp-for="Difficulty" asp-items="Model.DifficultyOptions" class="form-select custom-input">
                    <option value="">Select difficulty...</option>
                </select>
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" asp-items="Model.CategoryOptions" class="form-select custom-input">
                    <option value="">Select category...</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SkillId">Select a skill if the exercise is relevant to it.</label>
                <select asp-for="SkillId" asp-items="Model.AvailableExercises" class="form-select custom-input">
                    <option value="">Select skill...</option>
                </select>
                <span asp-validation-for="SkillId" class="text-danger"></span>
            </div>

            <div class="button-group">
                <button type="button"
                        class="btn-cancel"
                        onclick="location.href='@Url.Action("Index")'">
                    Cancel
                </button>
                <button type="submit" class="btn-create">Create Exercise</button>
            </div>

        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
