@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">The app that will help you achieve progress!</h1>
    
    <p>Designed to track users, skills and individual progress over time.</p>

</div>
