@using CalisthenicsSkillTracker.ViewModels.SkillViewModels
@model CreateSkillViewModel

@{
    ViewData["Title"] = "Insert New Skill";
    ViewData["FormAction"] = "Create";
    ViewData["SubmitText"] = "Create Skill";
}

<div class="container py-4">
    <div class="row">
        <partial name="_SkillFormPartial" />

        @* <partial name="_SkillGuidelines" model="@guidelines" /> *@ @*TODO: Add guidelines in the future*@
    </div>
</div>

<style>
    .needs-validation .text-danger { display: block; margin-top: .25rem; }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
