#toast-container.toast-center {
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    transform: translate(-50%, -50%) !important;
    position: fixed !important;
    margin: 0 !important;
    width: auto !important;
}
