@model IEnumerable<string>

<aside class="col-lg-4 mt-3 mt-lg-0">
    <div class="card shadow-sm border overflow-hidden bg-dark text-light">
        <div class="card-body">
            <h5 class="card-title text-center fw-bold">Guidelines</h5>
            <ul class="small opacity-75 mb-0">
                @foreach (var item in Model)
                {
                    <li>@item</li>
                }
            </ul>
        </div>
    </div>
</aside>
